<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- webpage title -->
    <title>NoteHub</title>
  <!-- pulled font from google api-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel = "stylesheet" href="{{url_for('static', filename='notes.css')}}">
    <link rel = "stylesheet" href="{{url_for('static', filename='home.css')}}">

</head>

<body>
    
        <div class="navBar">
            
                   
                        {% if 'user' in session %}
                            <a href="{{ url_for('logout') }}">Sign Out</a>
                        {% endif %}
                        <a href="/profile">Profile</a>
                        <a href="/home">Home</a>
                        
        </div>

    <div class="text">
        <div class="modify">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
