
{% extends "base.html" %}

{% block content %}
<style>

  /* create box around search requirement */
  .searchFunction {
      padding: 10px;
      border: 1px solid #000000;
  }

  /* create box around note requirement */
  .noteFunction {
      padding: 10px;
      border: 1px solid #000000;
  }

  /* create box around table requirement */
  .tableFunction{
    padding: 10px;
    border: 1px solid #000000;
  }

</style>

<!-- Title -->
<h1 class="Title">
  Welcome to your homepage!
</h1>

<!-- Search Requirement -->
<div class = "searchFunction">
<!-- Search use GET form, create a search bar with the submit button -->
  <form method="GET">
    <label class ="note-title" for="query">Search Notes: &nbsp;</label>
    <input type="search" placeholder="search" aria-label="Search", name="searched">
    <button type="submit" class="btn btn-outline-secondary note-box-button">Search</button>
  </form>

  <!-- If the keyword is not empty -->
  {% if keyword %}
  <!-- Print the keyword that user enter -->
  <h1 Notes search :> {{keyword}}</h1>
  <!-- User for loop, loop retreive all note.notename from database -->
  {% if note_results %}
  <p>The result is found!<br></p>
  
  <p>Here is the result:<br></p>
  <ul> 
      {% for note in note_results %}
          <li>
              Note: 
                <strong>
                  <!-- Loop print out all the note in the current user session wiht the link of files -->
                <a href="{{ url_for('editnote', notename = note.note_name) }}">
                {{ note.note_name}}
                </a>
                </strong>
              
          </li>
      {% endfor %}
        <!--If the search is not found, print search keyword and statement file is not found  -->
      {% else %}
      Sorry, your seach term: <strong>{{keyword}}</strong> file is not found
      {% endif %}

    {% endif %}

</div>

<br>

<!-- Note Requirement -->
<div class = "noteFunction">
  <!-- represents the newnote and the edit notes buttons on the profile-->
  <form action="newnote">
    {{newnote.hidden_tag()}}
    <p>{{newnote.button(class="note-box-button")}}</p>
  </form>
  <p class ="note-title">Your notes are:<br></p>
      <!--for loop to print every note in the dictionary in '/home' route function-->
      {% for note in note_list %}
          <div class = "note-display">
              <!--display the note name, note content, and an edit button-->
              <p>Note: {{note}}</p> 
              <p>Note-Text: {{note_list[note][0]}}</p>
              <!--If there are images (img_list exists), make a download attachment for each image-->
              {% if note_list[note][3] %}
              <span>Attachments: </span><br>
                {% for img in img_list %}
                <!--loop through all sets of images for each note-->
                  {% for name in img %}
                <!--link each image in the dictionary for 1 note-->
                    {% if img[name] == note_list[note][3] %}
                    <a href="download/{{name}}">{{name}}</a><br>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <!--for every edit note button, it is linked to 'editnote/(name of the note corresponding to dictionary)'-->
              <form action = "editnote/{{note}}">
                <p>{{note_list[note][1].button(class="note-box-button")}}</p>
              </form>
              <!-- delete note button-->
              <form action="/deleteNote/{{note}}">
                <p>{{note_list[note][2].button(class="note-box-button")}}</p>
              </form>
          </div>
      {% endfor %}
  </div>


<br>

<!-- Table Requirement -->
<div class = "tableFunction">
  <!-- create new table button which links to the new table webpage -->
  <a href="/newtable">
    <button class="note-box-button">Create Table</button>
  </a>

  <div>
    <!-- Show list of all currently created tables-->
    <p class ="note-title">
        Your Tables:
        <!-- iterate through each table of the user's -->
        {% for table in table_list %}
        <div>
          <!-- create a link to the corresponding edittable page for that table which is using the dynamic route -->
          <a href="{{ url_for('edittable', table_id = table.id) }}">
              <!-- print the name of the table -->
              <p>{{table.table_name}}</p>
          </a>
        </div>
        {% endfor %}
    </p>
  </div>
</div>

{% endblock %}

