
{% extends "base.html" %}

{% block content %}
<h1 class="Title">
  Welcome, to your homepage
</h1>
<form method="POST" action="{{url_for('search')}}" >
  <label for="query">Search:</label>
  <input type="search" placeholder="search" aria-label="Search", name="searched">
  <button type="submit"class="btn btn-outline-secondary">Search</button>
</form>
<h2>Results</h2>
<ul>
  {% for result in results %}
  <li>{{ result }}</li>
  {% endfor %}
</ul>

<!-- represents the newnote and the edit notes buttons on the profile-->
<form action="newnote">
  {{newnote.hidden_tag()}}
  <p>{{newnote.button}}</p>
</form>
  <p>Your notes are:<br></p>
      <!--for loop to print every note in the dictionary in '/home' route function-->
      {% for note in note_list %}
          <div>
              <!--display the note name, note content, and an edit button-->
              <p>Note: {{note}}</p> 
              <p>Note-Text: {{note_list[note][0]}}</p>
              <!--If there are images (img_list exists), make a download attachment for each image-->
              {% if note_list[note][2] %}
                {% for img in img_list %}
                <!--loop through all sets of images for each note-->
                  {% for name in img %}
                <!--link each image in the dictionary for 1 note-->
                    {% if img[name] == note_list[note][2] %}
                      <a href="download/{{name}}">Attachment: {{name}}</a><br>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <!--for every edit note button, it is linked to 'editnote/(name of the note corresponding to dictionary)'-->
              <form action = "editnote/{{note}}">
                <p>{{note_list[note][1].button}}</p>
              </form>
          </div>
      {% endfor %}

<a href="/newtable">
  <button>Create Table</button>
</a>
{% endblock %}

