{% extends "base.html" %}

{% block content %}
     <!--Page of the NewNote-->
    <h1>Created A New Note</h1>
    <div class = "note">
        <form action="" method="POST" enctype="multipart/form-data">
            <!--Displays the name of the note wanted to be entered, and the textbox for the note-->
            {{note.hidden_tag()}}
            <p>{{note.note_name.label(class="note-box-name-label")}}
                {{ note.note_name(class="note-box-name")}}</p>

                <div class = "error">
                    {% for error in note.note_name.errors %}
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
            
            <p>{{note.note_body(class ="note-box-note", rows = 25, cols = 100)}}</p>
            
            <!--Used to grab images-->
            <div class = "note-box-button-alignment">
                <p>{{note.image_upload.label}}</p>
                <p>{{note.image_upload(class="note-box-image-text")}}</p>
            </div>
            <!--Submit button-->
            <div class = "note-box-button-alignment">
                <p>{{note.submit(class="note-box-button")}}</p>
            </div>
        </form>
    </div>
{% endblock %}