{% extends "base.html" %}

{% block content %}
     <!--Page of the NewNote-->
    <h1>Created A New Note</h1>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            <!--Displays the name of the note wanted to be entered, and the textbox for the note-->
          {{note.hidden_tag()}}
            <p>{{note.note_name.label}}
                {{note.note_name}}</p>

                <div class = "error">
                    {% for error in note.note_name.errors %}
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
                
            <p>{{note.note_body(rows = 25, cols = 100)}}</p>
            <!--Used to grab images-->
            <p>{{note.image_upload}}</p>
            <!--Submit button-->
            <p>{{note.submit()}}</p>
        </form>
    </div>
{% endblock %}