{% extends "base.html" %}

{% block content %}
    <h1>New Table</h1>
   
    <div>
        <form action="" method="POST" novalidate>
            {{table.hidden_tag()}}
            <p> {{table.name.label}} <br>
               {{table.name(size=32)}}</p>

               <div class = "error">
                {% for error in table.name.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    

            <p> {{table.rows.label}} <br>
               {{table.rows(size=10)}}</p>

               <div class = "error">
                {% for error in table.rows.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p> {{table.columns.label}} <br>
               {{table.columns(size=10)}}</p>

               <div class = "error">
                {% for error in table.columns.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p>{{table.submit()}}</p>
        </form>

    </div>



{% endblock %}