{% extends "base.html" %}

{% block content %}
    <!-- title of webpage -->
    <h1>New Table</h1>
   
        <!-- form where user can submit their params for table-->
        <form action="" method="POST" novalidate>
            {{table.hidden_tag()}}
            <!-- user eneters table name -->
            <p> {{table.name.label(class = "table-box-name-label")}} <br>
               {{table.name(size=32, class = "table-box-name" )}}</p>

               <!-- any errors will be displayed using a for loop-->
               <div class = "error">
                <!-- invalid input will be higlighted in red-->
                {% for error in table.name.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    

            <!-- user eneters the number of rows they would like-->
            <p> {{table.rows.label(class = "table-box-name-label")}} <br>
               {{table.rows(size=10, class = "table-box-num")}}</p>

               <!-- any errors will be displayed using a for loop-->
               <div class = "error">
                <!-- invalid input will be higlighted in red-->
                {% for error in table.rows.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <!-- user eneters the number of columns they would like-->
            <p> {{table.columns.label(class = "table-box-name-label")}} <br>
               {{table.columns(size=10, class = "table-box-num")}}</p>

               <!-- any errors will be displayed using a for loop-->
               <div class = "error">
                 <!-- invalid input will be higlighted in red-->
                {% for error in table.columns.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
             <!-- user submits the form -->
            <p>{{table.submit(class="home-button")}}</p>
        </form>




{% endblock %}