{% extends "base.html"%}

{% block content %}
    <h1> Hello {{user}}, this is your profile page: </h1>

    <details>
        <summary>Change Username</summary>
        <form action="" method="POST" novalidate>
            {{changeName.hidden_tag()}}
            <p> {{changeName.oldname.label}} <br>
               {{changeName.oldname(size=32)}}</p>

               <div class = "error">
                {% for error in changeName.oldname.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p> {{changeName.newname.label}} <br>
               {{changeName.newname(size=32)}}</p>

               <div class = "error">
                {% for error in changeName.newname.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p>{{changeName.submit()}}</p>
        </form>
      </details>

      <details>
        <summary>Change Password</summary>
        <form action="" method="POST" novalidate>
            {{changePassword.hidden_tag()}}
            
            <p> {{changePassword.oldpassword.label}} <br>
               {{changePassword.oldpassword(size=32)}}</p>

               <div class = "error">
                {% for error in changePassword.oldpassword.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p> {{changePassword.newpassword.label}} <br>
               {{changePassword.newpassword(size=32)}}</p>

               <div class = "error">
                {% for error in changePassword.newpassword.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>  

            <p> {{changePassword.confirm.label}} <br>
               {{changePassword.confirm(size=32)}}</p>

               <div class = "error">
                {% for error in changePassword.confirm.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>  
        
            <p>{{changePassword.submit()}}</p>
        </form>
      </details>

      <details>
        <summary>Delete Profile</summary>
        <form action="" method="POST" novalidate>
            {{delete.hidden_tag()}}
            
            <p> {{delete.typepassword.label}} <br>
               {{delete.typepassword(size=32)}}</p>

               <div class = "error">
                {% for error in delete.typepassword.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>    
        
            <p> {{delete.confirm.label}} <br>
               {{delete.confirm(size=32)}}</p>

               <div class = "error">
                {% for error in delete.confirm.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>  

            <p> {{delete.confirmDeletion.label}} <br>
               {{delete.confirmDeletion()}}</p>

               <div class = "error">
                {% for error in changePassword.confirm.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
               </div>  
        
            <p>{{delete.submit()}}</p>
        </form>
      </details>
      
{% endblock %}

