
{% extends "base.html" %}

{% block content %}
<h1 class="Title">
  Welcome, to your homepage
</h1>
<form method="GET" action="{{url_for('search')}}">
  <label for="query">Search:</label>
  <input type="search" placeholder="search" aria-label="Search", name="searched">
  <button type="submit"class="btn btn-outline-secondary">Search</button>
</form>
<h1 Notes search :> {{keyword}}</h1>

{% if note_results %}
<p>The result is found!<br></p>

<p>Here is the result:<br></p>
<ul> 
    {% for note in note_results %}
        <li>
            Note name: <strong>{{ note.note_name }}</strong>
            <p>Note detail:{{ note.note_body }}</p>
        </li>
    {% endfor %}

    {% else %}
    Sorry, your seach term: <strong>{{keyword}}</strong> file is not found
    {% endif %}
</body>
</html>
{% endblock %}



