      /* set font family for the body*/
      body {
        font-family: Quicksand
        }
  
        /* sets a font size for the navigation bar text, a background is given and overflow is set to hidden */
        .navBar {
        background-color: #ffffff;
        overflow: hidden;
        font-size: 1vw;
        border: 0.1px solid;
        color: #000000;
        }
  
        /* the hyperlinks in the nav bar are set to the right with a 
        padding, a color, and the underline is removed by setting text decoration to none*/
        .navBar a {
        float: right;
        padding: 10px;
        color: #000000;
        text-decoration: none;
        }
  
        /* sets a background color to a different color after the link is hovered on*/
        .navBar a:hover {
        background-color: #8cd599;
        }
  
        /*the top class is given a background color and a max width*/
        .top {
        background-color: #000000;
        max-width: 100vw;
        }
        
 /* create box around search, note, and table requirement */
 .searchFunction, 
 .noteFunction, 
 .tableFunction {
    padding: 10px;
    border: 1px solid #000000;
}

.search-bar {                       /* styling the search bar */
    font-size: 16px;
    font-family: Quicksand;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.home-button {                      /* styling all buttons on the homepage */
    background-color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-width: 1px;
    transition: 0.30s;
    cursor: pointer;
    text-align: center;
}

.home-button:hover {                /* hovering affect for buttons */
    background-color: #8cd599;
}

.title {                            /* title styling on the homepage */                                      
    font-size: 18px;
    font-weight: bold;
}

.note-display {                     /* styling for the display of notes on home page */
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid #000000;
    margin-right: 200px;
}

.translate {                        /* styling for the translation box */ 
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}


