.note {
    text-align: center;
}

.note-box-name-label {                      /* styling label of the note name */
    font-size: 18px;
    font-family: Quicksand;
    font-weight: bold
}


.note-box-name {                            /* styling the name of the note */
    font-size: 18px;
    font-family: Quicksand;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.note-box-note{                             /* styling the body of the note */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: Quicksand;
    border-radius: 5px;
    resize: none;
}

.note-box-button,                           /* styling the image upload, create note, save changes button */
input[type="file"]::file-selector-button {
    background-color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-width: 1px;
    transition: 0.30s;
    cursor: pointer;
}

.note-box-button:hover,                      /* transition styling of the image upload, create note, save changes button  */
input[type="file"]::file-selector-button:hover {
    background-color: #8cd599;
}

.note-box-image-text{                       /* styling text near image upload button  */
    font-family: Quicksand;
    font-size: 16px;
}

.note-box-button-alignment {                /* adjusting position  */
    margin-left: 525px;
    margin-right: 525px;
    text-align: left;
}
